<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <p>Placeholder</p>
        </div>
        <div class="col-md-8">
            <h1>Geranios Cleaning</h1>
            <p class="lead">We are a local cleaning company based in madison. We work with all types of properties, and we offer professional carpet cleaning.</p>
            <p>@Html.ActionLink("Contact Us", "Index", "Help", null, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>About US</h2>
        <p>
            We are a small cleaning business based in madison. All our employees are professional cleaners with over 20 years of experience.
            We are focused on providing the best service and quality, and that's why our customers love us. We are fully insured and bonded,
            so you can trust that we will treat your property with the outmost respect and always leave everything better than when we arrive!
            We offer a plethora of cleaning services.
        </p>
    </div>
    <div class="col-md-6">
        <h2>We Clean Carpets!</h2>
        <p>We have professional carpet cleaners available! With over 15 years of experience, you can bet we'll leave your carpets good as new.</p>
    </div>
</div>
<div class="row" class="image-backgrounds">
    <div class="col-md-2">
        <h3>Seeing is believing!</h3>
        <p>The following images are examples of some of our tougher 
        cases!</p>
    </div>
    <div class="col-md-4" id="cf">
        <img class="bottom" src="/images/cleanroom.jpg" />
        <img class="top" src="/images/dirtyroom.jpg" />
        <p>Hover to see the difference!</p>
    </div>
    
</div>
